.projects{
    max-width: 70rem;
    padding: 3rem;
    background-color: var(--gray-600);
    /* margin: 3rem auto; */
 
}

@media(max-width: 768px){
    img {
        height: 5rem;
        width: 5rem;
    }
    .projects{
        max-width: 27rem;
        margin: 0 auto;
    }
}

.projects p {
    margin: 3rem auto;
    text-align: center;
    font-size: 2rem;
}

img {
    height: 15rem;
    width: 15rem;
}

section {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
}


